.site-header {
	background: $dark-gray;
	color: $white;
	padding: 50px 0;

	@include tablet-portrait {
		padding: 100px 0;
	}

	@include tablet-landscape {
		.site-logo,
		.site-description {
			grid-column: 4 / span 8;
		}
	}

	.site-logo {
		h1 {
			font-size: 2rem;

			@include tablet-portrait {
				font-size: 3rem;
			}
		}

		h3 {
			padding-top: 10px;

			@include tablet-portrait {
				font-size: 1.75rem;
			}
		}
	}

	.site-description {
		padding-top: 25px;

		@include tablet-portrait {
			padding-top: 50px;
		}

		p {
			font-size: 0.875rem;
			line-height: 2em;

			@include tablet-portrait {
				font-size: 1.125rem;
			}
		}
	}
}