/*

    Theme Name: Virtual Registration
    Theme URI: https://virtual-registration.esassoc-dev.com/
    Author: Andrew Lovseth
    Author URI: http://www.andrewlovseth.com/
    Description: Version 1.0 of Virtual Registration theme
    Version: 1.0

*/
/*

    ----------------------------------------------------------------------
                                01 Global
    ----------------------------------------------------------------------

*/
/* HTML5 */
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital@0;1&family=Roboto+Condensed&family=Work+Sans&display=swap");
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

/* HTML & BODY */
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

html, button, input, select, textarea {
  font-family: sans-serif; }

body {
  margin: 0;
  font-size: 1em;
  line-height: 1; }

/* Links */
a {
  text-decoration: none; }

a:focus {
  outline: none; }

a:hover, a:active {
  outline: none; }

/* Typography */
abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 600; }

i, em {
  font-style: italic; }

blockquote {
  margin: 1em 40px; }

dfn {
  font-style: italic; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

ins {
  background: #ff9;
  color: #000;
  text-decoration: none; }

mark {
  background: #ff0;
  color: #000; }

p, pre {
  margin: 1em 0; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: none; }

q:before, q:after {
  content: '';
  content: none; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  font-weight: normal;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0; }

/* Lists */
dd {
  margin: 0 0 0 40px; }

ul, ol {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0; }

/* Embedded Content */
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle; }

svg:not(:root) {
  overflow: hidden; }

/* Figure */
figure {
  margin: 0; }

/* Forms */
form {
  margin: 0; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

label {
  cursor: pointer; }

legend {
  border: 0;
  *margin-left: -7px;
  padding: 0;
  white-space: normal; }

button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle; }

button, input {
  line-height: normal; }

button, input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible; }

button[disabled], input[disabled] {
  cursor: default; }

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *width: 13px;
  *height: 13px; }

input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical; }

/* Tables */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td {
  vertical-align: top; }

/* Absolute Positioning */
div, article, section, header, footer, nav, figure, li {
  position: relative; }

/* Border-Box */
* {
  box-sizing: border-box; }

/* Responsive Image */
img {
  display: block;
  max-width: 100%; }

body,
button,
input,
select,
optgroup,
textarea {
  font-family: "Libre Baskerville", serif; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 400; }

body {
  background: #fff; }

.wrapper {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 25px;
  transition: padding 0.2s ease-in; }
  @media screen and (min-width: 768px) {
    .wrapper {
      padding: 0 50px; } }
  @media screen and (min-width: 1250px) {
    .wrapper {
      padding: 0; } }

.grid {
  display: grid;
  gap: 0 32px;
  grid-template-columns: minmax(0, auto) repeat(4, minmax(auto, 1fr)) minmax(0, auto); }
  .grid > * {
    grid-column: 2 / span 4; }
  @media screen and (min-width: 568px) {
    .grid {
      grid-template-columns: minmax(0, auto) repeat(8, minmax(auto, 1fr)) minmax(0, auto); }
      .grid > * {
        grid-column: 2 / span 8; } }
  @media screen and (min-width: 1024px) {
    .grid {
      grid-template-columns: minmax(0, auto) repeat(12, minmax(auto, 71px)) minmax(0, auto); }
      .grid > * {
        grid-column: 2 / span 12; } }

/*

    ----------------------------------------------------------------------
                                02 Sections
    ----------------------------------------------------------------------

*/
.site-header {
  background: #262F2E;
  color: #fff;
  padding: 50px 0; }
  @media screen and (min-width: 768px) {
    .site-header {
      padding: 100px 0; } }
  @media screen and (min-width: 1024px) {
    .site-header .site-logo,
    .site-header .site-description {
      grid-column: 4 / span 8; } }
  .site-header .site-logo h1 {
    font-size: 2rem; }
    @media screen and (min-width: 768px) {
      .site-header .site-logo h1 {
        font-size: 3rem; } }
  .site-header .site-logo h3 {
    padding-top: 10px; }
    @media screen and (min-width: 768px) {
      .site-header .site-logo h3 {
        font-size: 1.75rem; } }
  .site-header .site-description {
    padding-top: 25px; }
    @media screen and (min-width: 768px) {
      .site-header .site-description {
        padding-top: 50px; } }
    .site-header .site-description p {
      font-size: 0.875rem;
      line-height: 2em; }
      @media screen and (min-width: 768px) {
        .site-header .site-description p {
          font-size: 1.125rem; } }

/*

    ----------------------------------------------------------------------
                               03 Template Parts
    ----------------------------------------------------------------------

*/
/*

    ----------------------------------------------------------------------
                                04 Templates
    ----------------------------------------------------------------------

*/
body.page-template-homepage .site-content section.registration-form {
  padding: 50px 0; }
  @media screen and (min-width: 1024px) {
    body.page-template-homepage .site-content section.registration-form {
      padding: 100px 0;
      grid-column: 5 / span 6; } }

body.page-template-homepage .site-content .section-header {
  padding-bottom: 50px; }
  body.page-template-homepage .site-content .section-header .logo {
    padding-bottom: 25px; }
  body.page-template-homepage .site-content .section-header .headline h2 {
    font-size: 1.75rem; }
  body.page-template-homepage .site-content .section-header .copy {
    padding-top: 10px; }
    body.page-template-homepage .site-content .section-header .copy p {
      font-size: 1rem;
      line-height: 2rem; }

body.page-template-homepage .site-content form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }
  body.page-template-homepage .site-content form .field {
    width: 100%; }
    body.page-template-homepage .site-content form .field + .field {
      padding-top: 25px; }
  body.page-template-homepage .site-content form input[type="text"],
  body.page-template-homepage .site-content form input[type="email"],
  body.page-template-homepage .site-content form input[type="tel"] {
    width: 100%;
    height: 40px;
    padding: 5px 10px;
    line-height: 40px;
    font-size: 1.125em;
    font-family: "Work Sans", sans-serif; }
  body.page-template-homepage .site-content form label {
    display: block;
    font-family: "Roboto Condensed", sans-serif;
    padding-bottom: 3px; }
    body.page-template-homepage .site-content form label .req {
      color: red; }
    body.page-template-homepage .site-content form label.options-label {
      padding-bottom: 10px; }
  body.page-template-homepage .site-content form .field.options {
    padding-top: 35px; }
  body.page-template-homepage .site-content form .option {
    display: flex;
    align-items: center; }
    body.page-template-homepage .site-content form .option + .option {
      padding-top: 10px; }
    body.page-template-homepage .site-content form .option label {
      display: inline;
      padding-bottom: 0;
      padding-left: 5px;
      font-family: "Work Sans", sans-serif;
      font-size: 0.875rem; }
  @media screen and (min-width: 768px) {
    body.page-template-homepage .site-content form .field.first-name,
    body.page-template-homepage .site-content form .field.last-name {
      width: calc(50% - 12px);
      padding-top: 0; } }
  body.page-template-homepage .site-content form .field.submit {
    padding-top: 40px; }
    body.page-template-homepage .site-content form .field.submit input[type="submit"] {
      background: #88151d;
      color: #fff;
      font-family: "Work Sans", sans-serif;
      font-weight: 400;
      border: none;
      padding: 9px 24px 8px 24px;
      text-transform: uppercase;
      letter-spacing: 0.05em;
      display: inline-block;
      font-size: 0.875rem; }
  body.page-template-homepage .site-content form .pristine-error {
    margin-top: 5px;
    background: #fce4e4;
    color: #cc0033;
    display: inline-block;
    padding: 10px 10px;
    font-family: "Work Sans", sans-serif;
    font-size: 0.75rem; }
