@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital@0;1&family=Roboto+Condensed&family=Work+Sans&display=swap');

$baskerville: 'Libre Baskerville', serif;
$roboto-condensed: 'Roboto Condensed', sans-serif;
$work-sans: 'Work Sans', sans-serif;