body.page-template-homepage {

	.site-content {

		section.registration-form {
			padding: 50px 0;

			@include tablet-landscape {
				padding: 100px 0;
				grid-column: 5 / span 6;
			}
		}

		.section-header {
			padding-bottom: 50px;

			.logo {
				padding-bottom: 25px;
			}

			.headline {
				h2 {
					font-size: 1.75rem;
				}
			}

			.copy {
				padding-top: 10px;

				p {
					font-size: 1rem;
					line-height: 2rem;
				}
			}
		}

		form {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;

			.field {
				width: 100%;

				& + .field {
					padding-top: 25px;
				}
			}

			input[type="text"],
			input[type="email"],
			input[type="tel"] {
				width: 100%;
				height: 40px;
				padding: 5px 10px;
				line-height: 40px;
				font-size: 1.125em;
				font-family: $work-sans;
			}

			label {
				display: block;
				font-family: $roboto-condensed;
				padding-bottom: 3px;

				.req {
					color: red;
				}

				&.options-label {
					padding-bottom: 10px;
				}
			}

			.field.options {
				padding-top: 35px;
			}

			.option {
				display: flex;
				align-items: center;

				& + .option {
					padding-top: 10px;
				}

				label {
					display: inline;
					padding-bottom: 0;
					padding-left: 5px;
					font-family: $work-sans;
					font-size: 0.875rem;
				}
			}

			@include tablet-portrait {
				.field.first-name,
				.field.last-name {
					width: calc(50% - 12px);
					padding-top: 0;
				}
			}

			.field.submit {
				padding-top: 40px;

				input[type="submit"] {
					background: #88151d;
					color: $white;
					font-family: $work-sans;
					font-weight: 400;
					border: none;
					padding: 9px 24px 8px 24px;
					text-transform: uppercase;
					letter-spacing: 0.05em;
					display: inline-block;
					font-size: 0.875rem;
				}
			}

			.pristine-error {
				margin-top: 5px;
				background: #fce4e4;
				color: #cc0033;
				display: inline-block;
				padding: 10px 10px;
				font-family: $work-sans;
				font-size: 0.75rem;
			}
		}
	}
}